nav {
  display: flex;
  font-family: 'Bungee';
  color: #FFFFFF;
  background-color: #4056A1;
  height: 120px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 1em;
  padding-top: 1em;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 5px solid #545149;
}

span {
  display: flex;
  font-size: 40px;
  align-items: flex-end;
  margin-bottom: 10px;
}

.nav {
  display: flex;
  font-family: 'Source Sans Pro';
  font-size: 20px;
  flex-direction: column;
  align-self: center;
  height: 120px;
  margin: 0px;
  width: 50%;
}

i {
  display: flex;
  align-self: center;
}


