.new-tweet {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-right: 50px;
  margin-left: 50px;
}

#tweet-text {
  display: flex;
  border-color: #cbe5ff;
  border-bottom: 4px solid #545149;
  background-color: #cbe5ff;
  margin-bottom: 10px;
  height: 40px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.seperate {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.tweet-button {
  background-color: #4056A1;
  color: #FFFFFF;
  border: #4056A1;
}

.red {
  color: #FF0000;
}

.bungee {
  font-family: "Bungee";
}

.sans {
  font-family: 'Source Sans Pro';
}

.tweet {
  border: 3px solid #545149;
  border-radius: 3px;
  margin: 10px 5px;
  padding: 10px 10px;
}

.overlined {
  border-top: 3px solid #545149;
  padding: 5px;
  font-size: 75%;
}

.small-image {
  width: 15%;
  height: 15%;
}

.center-align {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hover-blue:hover {
  color:#4056A1
}

.hover-shadow:hover {
  box-shadow: 4px 4px #878787;
}